@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Configuration";
}

<div>
    <h1>Configuration</h1>
    <form>

    </form>
    <input type="button" asp-action="CallApi" value="Call API" />
</div>